{% extends 'SFBCNWebsiteBundle::adminlayout.html.twig' %}

{% block header %}
    {% set activeItem = 1 %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Events <small>Here is a list of Symfony Barcelona events</small></h1>
</div>
<div class="row">
    <div class="span4">
        <h2>Event details</h2>
        <p>Here you have an event details</p>
    </div>
    <div class="span8">
        {% if app.session.hasFlash('notice') %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Good job!</strong> {{ app.session.flash('notice') }}
        </div>
        {% endif %}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#event-details" data-toggle="tab">Event details</a></li>
            <li><a href="#event-location" data-toggle="tab">Event location</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="event-details">
                <dl>
                    <dt><h3>Event title</h3></dt>
                    <dd>{{ entity.title }}</dd>
                    <dt><h3>Event description</h3></dt>
                    <dd>{{ entity.body }}</dd>
                    <dt><h3>Event date</h3></dt>
                    <dd>{{ entity.datetime|date('d/m/Y \\a\\t H:i:s') }}</dd>
                    <dt><h3>Location</h3></dt>
                    <dd>{{ entity.location }}</dd>
                </dl>
                
                <div class="well">
                    <a class="btn btn-info" href="{{ path('event_edit', { 'id': entity.id }) }}">
                        <i class="icon-white icon-pencil"></i>
                        Edit
                    </a>&nbsp;
                    <a class="btn btn-warning" href="{{ path('event') }}">
                        <i class="icon-white icon-backward"></i>
                        Back to the list
                    </a>&nbsp;
                    <form action="{{ path('event_delete', { 'id': entity.id }) }}" method="post" style="display:inline;">
                        {{ form_widget(delete_form, { 'attr': {'style': 'display:inline'} }) }}
                        <button type="submit" class="btn btn-danger" style="display:inline;">
                            <i class="icon-white icon-remove"></i>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="event-location">
                <iframe width="100%"
                        height="450"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="{{ entity.gmaps }}&amp;output=embed"></iframe><br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
