{% extends 'SFBCNWebsiteBundle::adminlayout.html.twig' %}

{% block css %}
    {{ parent() }}
    {% stylesheets '@SFBCNWebsiteBundle/Resources/public/css/docs.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Symfony Barcelona</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<header class="jumbotron masthead">
    <div class="inner">
        <h1>Symfony Barcelona</h1>
        <p>Be welcome to Symfony Barcelona Administration area</p>
    </div>
</header>

<div class="row">
    <div class="span8 offset2">
        {% if error %}
        <div class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">Oh snap! You got an error!</h4>
            <p>{{ error.message | trans }}. Please, try it again!</p>
        </div>
        {% endif %}
        <form class="well form-inline" action="{{ path('login_check') }}" method="post">
            <input type="text" class="input-small" placeholder="Your username" id="username" name="_username" value="{{ last_username }}">&nbsp;
            <input type="password" id="password" name="_password" class="input-small" placeholder="Your password">&nbsp;
            <button type="submit" class="btn btn-primary" name="login">
                <i class="icon-user icon-white"></i>
                Login!
            </button>
        </form>
    </div>
</div>
{% endblock %}